@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --success-color: rgb(0 , 128, 0);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    height: 100vh;
    background: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.control button {
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    margin: 0 10px;
}

.success {
    background: rgb(0 , 128, 0);
}

.warning {
    background: rgb(255 , 165, 0);
}

.error {
    background: rgb(255 , 0, 0);
}

#toasts {
    position: fixed;
    top: 10px;
    right: 20px;
    /* overflow: hidden; */
}

.toas {
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    margin: 20px 0;
    position: relative;
    animation: slideShow 2s ease forwards;
}

.toas i {
    font-size: 26px;
    margin-right: 20px;
    position: relative;
    top: 4px;
}

.success-l {
    background: rgba(0 , 128, 0, 0.4);
    border-left: 6px solid rgb(0 , 128, 0);
}

.countdown{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    transition: 4s linear;
    animation: countdown 4s linear forwards;
    /* animation-delay: 1.2s; */

}

.success-l .countdown{
    background: rgb(0 , 128, 0);
}

.warning-l .countdown{
    background:rgb(255 , 165, 0);
}

.error-l .countdown{
    background: rgb(255 , 0, 0);
}

.warning-l {
    background: rgba(255 , 165, 0, 0.4);
    border-left: 6px solid rgb(255 , 165, 0);
}

.error-l {
    background: rgba(255 , 0, 0, 0.4);
    border-left: 6px solid rgb(255 , 0, 0);
}

@keyframes countdown {
    0%{
        width: 100%;
    }

    100%{
        width: 0%;
    }
} 

@keyframes slideShow {
    0% {
        transform: translateX(100%);
    }

    25%{
        transform: translateX(-10%);
    }
    50%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-10px);
    }
    
}

@keyframes slideHide {
    0% {
        transform: translateX(0%);
    }

    25%{
        transform: translateX(10%);
    }
    50%{
        transform: translateX(-15%);
    }
    100%{
        transform: translateX(150%);
    }
    
}